body #gridOverlay {
  width: 640px;
  margin-left: -320px;
}

body #wrapper {
  width: 640px;
}

body header nav {
  width: 460px;
}

body section#content .navigation {
  width: 620px;
}

body section.pagePost.post .infoWrap,
body section.pagePost.page .infoWrap {
  width: 640px;
  padding: 0 0 10px 0;
}

body section.pagePost.post .infoWrap span, 
body section.pagePost.post .infoWrap abbr {
  display: inline-block;
  width: 140px;
  float: left;
}

body section.pagePost.post .infoWrap span.categories {
  width: 140px;
}

body section.pagePost.post .infoWrap .entryTitle h2 {
  padding: 0;
}

body section.pagePost.page .entry {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  width: 620px;
  float: left;
}

body section.pagePost.page .gallery {
  width: 640px;
}

body section.pagePost.page .gallery img {
  max-width: 620px;
}

body footer {
  width: 640px;
}